@model MiFrikimundo.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h3>Esta seguro de querer eliminar este libro?</h3>

<p>@Model.Title</p>
<p>@Model.Author</p>
<p>@Model.Saga</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>