@model MiFrikimundo.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h3>Editar Libro</h3>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="Title">Titulo</label>
        <input type="text" class="form-control" asp-for="Title" required/>
    </div>
    <div class="form-group">
        <label for="Author">Autor</label>
        <input type="text" class="form-control" asp-for="Author"/>
    </div>
    <div class="form-group">
        <label for="Saga">Saga Literaria</label>
        <input type="text" class="form-control" asp-for="Saga" />
    </div>
    <div class="form-group">
        <label for="GenderId">Genero</label>
        <select asp-for="GenderId" asp-items="ViewBag.Genders" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Editar</button>
</form>