@model MiFrikimundo.Models.VideoGame

@{
    ViewData["Title"] = "Create";
}

<h3>Agregar Video Juego</h3>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Título</label>
        <input type="text" class="form-control" asp-for="Title" required/>
    </div>
    <div class="form-group">
        <label for="Developers">Desarrollador</label>
        <input type="text" class="form-control" asp-for="Developers"/>
    </div>
    <div class="form-group">
        <label for="Platform">Plataforma</label>
        <select asp-for="Platform" name="Platform" class="form-control">
            <option value="" disabled selected>Seleccione una plataforma</option>
            <option value="PC">PC</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Xbox">Xbox</option>
            <option value="Nintendo">Nintendo</option>
        </select>
    </div>
    <div class="form-group">
        <label for="GenderId">Género</label>
        <select asp-for="GenderId" asp-items="ViewBag.Genders" class="form-control">
            <option value="" disabled selected>Seleccione un género</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Rating">Calificación</label>
        <select asp-for="Rating" name="Rating" class="form-control">
            <option value="" disabled selected>Seleccione una calificación</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Created">Fecha</label>
        <input type="date" class="form-control" asp-for="Created" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Subir Imagen</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary custom-bg mt-4">Agregar</button>
</form>

