@model MiFrikimundo.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h3>Agregar Peliculas</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">Titulo</label>
        <input type="text" class="form-control" asp-for="Title" required/>
    </div>
    <div class="form-group">
        <label for="Director">Director</label>
        <input type="text" class="form-control" asp-for="Director"/>
    </div>
    <div class="form-group">
        <label for="GenderId">Genero</label>
        <select asp-for="GenderId" asp-items="ViewBag.Genders" class="form-control">
            <option value="" disabled selected>Seleccione un genero</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Rating">Calificacion</label>
        <select asp-for="Rating" name="Rating" class="form-control">
            <option value="" disabled selected>Seleccione una calificación</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Created">Fecha</label>
        <input type="date" class="form-control" asp-for="Created" />
    </div>

    <div class="form-group">
        <label for="ImageUrl">Imagen</label>
        <input type="file" class="form-control" asp-for="ImageUrl" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Agregar</button>
</form>