@model MiFrikimundo.Models.Movie

@{
    ViewData["Title"] = "Delete";
}

<h3>Esta seguro de querer eliminar esta pelicula?</h3>

<p>@Model.Title</p>
<p>@Model.Director</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>