html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-bg {
    background-color: #3b3b37;
    border-color: #6c757d;
}

    .custom-bg:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
}

    .card img {
        width: 300px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

    .card .info {
        flex: 1;
    }

        .card .info h2 {
            margin: 0 0 10px;
            font-size: 1.5em;
            color: #333;
        }

        .card .info p {
            margin: 5px 0;
            color: #666;
        }
.custom-font {
    font-size: 1.25rem;
    font-weight: bold
}
.custom-fontDirector {
    font-size: 1rem;
    font-weight: bold
}