html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-bg {
    background-color: #3b3b37;
    border-color: #6c757d;
    width: 120px
}

    .custom-bg:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.custom-bgAgregar {
    background-color: #3b3b37;
    border-color: #6c757d;
    font-size: 18px;
}

    .custom-bgAgregar:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.card {
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
}

.custom-font {
    font-size: 1.1rem;
    margin-bottom: 7px;
}
.custom-fontDirector {
    font-size: 1rem;
    font-weight: bold
}

.btn-editar {
    background-color: #3b3b37;
    border-color: #6c757d;
}

    .btn-editar:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.btn-container {
    float: right;
}

.font-link {
    color: black;
    font-size: 23px;
    font-weight: bold;
}

    .font-link:hover {
        color: #5a6268;
        text-decoration: none;
        transition: 0.3s ease;
    }

body {
    font-family: Arial, sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

    .confirm-box h3 {
        margin-bottom: 15px;
    }

.overlayInfoBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.confirmInfoBox {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}

.search {
    width: 80%;
    float:left; 
    border-top-left-radius:20%; 
    border-bottom-left-radius:20%; 
    background:transparent;
}
.searchBox {
    width: 20%; 
    float: left; 
    border: none; 
    background: transparent; 
    height: 40px;
}